* {
  font-family: sans-serif;
}

body {
  place-items: start;
  padding: 0 4rem;
  background-color: black;
}

h1 {
  color: white;
}

form {
  display: flex;
  align-items: end;
  gap: 2rem;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1rem 0;
  display: block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
}

input:hover {
  border-color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1rem 0;
  display: block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
}

button:hover {
  border-color: white;
}

label {
  color: white;
}

.games {
  display: flex;
  flex-wrap: wrap;
}

.games > div {
  display: flex;
  align-items: start;
  gap: 2rem;
  height: 8rem;
  margin-top: 2rem;
  width: 28rem;
}

.games img {
  height: 100%;
  width: 10rem;
  object-fit: cover;
}

.games h2 {
  margin: 0;
  color: white;
}